input[type="button"] {
    width: 200px; /* Ajusta el tamaño del ancho del botón */
    height: 200px; /* Ajusta el tamaño del alto del botón */
    font-size: 75px; /* Ajusta el tamaño de la fuente */
}